.container{
    background-color: #666;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;

    .movie-card{
        width: 25%;
        height: 300px;
        margin: 20px;
        text-align: center;
        background-color: #888;

        h2{
            padding: 15px 0;
        }

        p{
            padding: 5px 0;
        }
    }
}